ただ今、運営募集中！
詳しくは、<a href="/posts/posts/1">ここから!</a>

<br>ローグライトなシステムで、メトロイドヴァニアに進んでいくMMORPGサーバー！対人要素も実装予定！<br><br>

<h1>オーナーやまはる氏からのコメント</h1>
これまでのRPGサーバーで感じてきた不満点を考えて全く新しいサーバーを作りました！！！みんな楽しんでくれると嬉しいな！

